name: CI

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
      - cron: "0 13 * * 1"  # Every Monday at 9AM EST

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: Test pre-commit hooks
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit run -a

  validate-docstrings:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Checkout submodule
        uses: actions/checkout@v4
        with:
          repository: invrs-io/totypes
          path: totypes
          token: ${{ secrets.INVRSIO_PAT }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: Setup environment
        run: |
            python -m pip install --upgrade pip
            pip install "totypes/"
            pip install ".[tests,dev]"

      - name: Validate docstrings
        run: |
          darglint src --strictness=short --ignore-raise=ValueError

      - name: Validate docstrings
        run: |
          mypy src

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Checkout submodule
        uses: actions/checkout@v4
        with:
          repository: invrs-io/totypes
          path: totypes
          token: ${{ secrets.INVRSIO_PAT }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - name: Setup environment
        run: |
            python -m pip install --upgrade pip
            pip install "totypes/"
            pip install ".[tests,dev]"

      - name: Run Python tests
        run: |
          pytest --cov=invrs_gym tests
